{% extends 'base.html' %}

{% load menu_tags %}
{% load static %}

{% block head %}
<!--Include stylesheet for correct <li> indentation-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<!--Render menu objects here using menu name-->
{% draw_menu "main_menu" %}
{% draw_menu "other_menu" %}
{% endblock %}

{% block script %}
<!--
JS for opening nodes and highlighting the selected one.
Finds selected element, highlights it using "style.background" and "opens" everything above.
-->
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}